@use '../base/variables' as *;

%sidebar-default-styling {
  box-sizing: border-box;
  width: 100%;
  padding: 0rem 0rem 1rem 1rem;
  border-bottom: 1px solid $color-border;
}

$input-size: 40px;

.sidebar-left {
  @include flexStyling(column);
  display: flex;
  height: 100%;
  color: $color-text;
  background-color: $color-bg-secondary;
  box-sizing: border-box;
  min-height: 0;
  overflow: hidden;

  .sidebar-header {
    @extend %sidebar-default-styling;
    @include flexStyling($justify: space-between);
    background-color: $color-bg-tertiary;
    gap: 10px;
    height: $input-size;
    border-top: solid 1px $color-border;
    padding: 0;

    &-left {
      // background-color: blue;
    }

    &-right {
      // background-color: red;
    }

    &-btn {
      position: relative;
      width: $input-size;
      height: 100%;

      .lucide {
        @include centerFully(absolute);
      }
    }
  }

  .sidebar-content {
    @extend %sidebar-default-styling;
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;

    ul {
      padding-left: 20px;
    }
  }

  .sidebar-footer {
    @extend %sidebar-default-styling;
    flex: 0 0 auto;
    overflow: hidden;
  }
}
