@use './variables' as *;

.sidebar-left {
  @include flexStyling(column);
  font-family: $font-sans;
  display: flex;
  height: 100%;
  color: $color-text;
  background-color: $color-bg-secondary;
  box-sizing: border-box;
  min-height: 0;
  overflow: hidden;

  .sidebar-header,
  .sidebar-content,
  .sidebar-footer {
    box-sizing: border-box;
    width: 100%;
    padding: 0rem 0rem 1rem 1rem;
  }

  .sidebar-header {
    flex: 0 0 auto;
    border-top: solid 1px $color-border;
    border-bottom: 1px solid $color-border;
    overflow: hidden;
  }

  .sidebar-content {
    flex: 1 1 auto;
    min-height: 0;
    border-bottom: 1px solid $color-border;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .sidebar-footer {
    flex: 0 0 auto;
    border-bottom: 1px solid $color-border;
    overflow: hidden;
  }
}
